/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@700&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
  color: #0D2137;
  line-height: 1.6;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 36pt;
  font-weight: 700;
  margin-bottom: 0.5em;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 24pt;
  font-weight: 700;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 18pt;
  font-weight: 450;
  margin-bottom: 0.5em;
}
h4 {
  font-family: 'lato', sans-serif;
  font-size: 14pt;
  font-weight: 400;
  margin-bottom: 0.5em;
}
p {
  font-size: 18pt;
  font-weight: 400;
  margin-bottom: 1em;
}

/* Header */
header {
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 2em 5em;
}

header.scrolled {
  background-color: rgba(225, 237, 244, 0.456);
  backdrop-filter: blur(18px);
  }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.2em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5em;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #0D2137;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ff8e2b;
  transition: background-color 0.5s ease;
}
/* Burger menu */
.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #0D2137;
  transition: all 0.3s ease;
}
/* Responsive nav */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .nav-links.nav-active {
    display: flex;
  }

  .burger {
    display: flex;
  }
}
/* Hero */
.hero {
  position: relative;
  height: 100vh;
  margin-top: -110px; /* pull up hero to fill under header */
  padding-top: 80px;  /* push content below header inside */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('images/hero.png') center / cover no-repeat;
}
.hero-content {
  padding: 2em;
  border-radius: 10px;
}

.resume-button {
  display: inline-block;
  margin-top: 1em;
  background-color: #ff8e2b;
  color: #0D2137;
  padding: 0.75em 1.5em;
  text-decoration: none;
  font-weight: 700;
  border-radius: 15px;
  transition: background-color 0.5s ease;
}

.resume-button:hover {
  background-color: #0D2137;
  color: #E0EAF5;
}
.resume-button:active {
 background-color: #b2590b;
  color: #0D2137;
}

/* Carousel */
.carousel {
  display: flex;
  align-items: center;
  padding: 4em 2em;
  background-color: #ffffff;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.carousel-wrapper {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 100%;
  position: relative;
}
.carousel-track {
  display: flex;
  overflow-x: auto;
  gap: 2em;
  scroll-snap-type: x mandatory;
  padding: 1em 0;
  width: 100%;
}
.carousel-slide {
  flex: 0 0 auto;
  width: 100%;
  height: 250px;
  min-width: 300px;
  max-width: 33.33%;
  background-color: #0D2137;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  scroll-snap-align: start;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  transition: background-color 0.5s ease;
   }
.carousel-slide:hover{
  transform: translateY(-5px) scale(1.05);
  filter: brightness(0.85);
}
.carousel-btn {
  font-size: 3rem;
  background: none;
  border: none;
  color: #0D2137;
  cursor: pointer;
  transition: color 0.3s ease;
}

.carousel-btn:hover {
  color: #FF8E2B;
}
.project-title {
  margin-top: 1em;
  font-size: 1rem;
  font-weight: 700;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  gap: 1.5em;
}

.carousel-controls button {
  padding: 0.5em 1em;
  background-color: #0D2137;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-controls button:hover {
  background-color: #2e77ae;
  color: #0D2137;
}

/* Footer */
footer {
  background-color: #E0EAF5;
  color: #0D2137;
  text-align: center;
  padding: 2em;
  font-size: 18px;
}
.footer-links {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
}

.footer-links a {
  color: #0D2137;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #FF8E2B;
}
.social-icons {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.social-icons a {
  font-size: 2rem;
  color: #0D2137;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #2e77ae;
}
.profile{
  image-resolution: 50%;

}
.back-to-top {
  margin: 1em;
  padding: 1em 1.5em;
  background-color: #0D2137;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.back-to-top:hover {
  background-color: #FF8E2B;
}

/* About Section */
.about-section {
  background-color: #ffffff;
  padding: 4em 2em;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 3em;
  max-width: 1100px;
  flex-wrap: wrap;
}

.about-image img {
  width: 400px;
  height: auto;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-top: 18px;
}

.about-text {
  flex: 1;
  min-width: 250px;
  margin: 0 auto;
}

.skill-tag li {
  background-color: #E0EAF5;
  color: #0D2137;
  border-radius: 15px;
  padding: 10px;
  gap: 1em;
  margin: 0 auto;
  flex-grow: 1;
;
}
/* Mobile styles */
@media (max-width: 700px) {
  .about-container {
    flex-direction: column;
    text-align: left;
    display: block;
  }

  .about-image img {
    width: 100%;
    max-width: 600px;
    margin-bottom: 1em;
  }
  .skills-block{
    flex-direction: column;
    box-align: center;
    display: block;
  }
}
/* Project Section */
.projects-section {
  padding: 4em 2em;
  background-color: #ffffff;
  max-width: 2000px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 22pt;
  margin-bottom: 2em;
}

/* Grid that adapts to screen */
.projects-grid {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* Each project card */
.project-card {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
  max-height: 400px;
}

/* Image area with background */
.project-thumb {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  transition: transform 0.4s ease;
}

/* Project title overlay */
.project-card h3 {
  position: absolute;
  top: 1.5em;
  left: 2em;
  font-size: 1.5rem;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

/* Hover effect */
.project-card:hover .project-thumb {
  transform: scale(1.05);
  filter: brightness(0.85);
}

.project-card:hover {
  transform: translateY(-5px);
}
/* Digital skills image responsive */
.skills-block {
  max-width: 1100px;
  margin: 0 auto 3em auto;
  flex-direction: column;
}
/* Soft skills responsive layout */
.soft-skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content:space-around;
  padding: 0;
  margin: 3em auto 3em auto;
}
.soft-skill-card {
  flex: 1 1 180px;   /* grows, wraps nicely */
  max-width: 240px;  /* prevents getting too wide on desktops */
  text-align: center;
}
.soft-skill-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto .5rem;
}

/* Mobile tweak (optional) */
@media (max-width: 468px) {
  .soft-skill-list {
    flex-direction: column;
    align-items: center;
  }
}

/* Project Detail Page */
.project-container {
  display: flex;
  gap: 3em;
  padding: 4em 2em;
  background-color: #ffffff;
  flex-wrap: wrap;
  justify-content: center;
  align-items:stretch;
  max-width: 1400px;
  margin: 0 auto;
}

.project-images {
  flex: 1;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1em;
}

.project-images img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.project-images img:hover {
  transform: scale(1.03);
}

.project-info {
  flex: 1;
  min-width: 300px;
}

.project-info h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 32pt;
  margin-bottom: 0.2em;
}

.project-subtitle {
  font-size: 18pt;
  color: #ff8e2b;
  margin-bottom: 1.5em;
}

.project-info p {
  font-size: 18pt;
  margin-bottom: 1.5em;
}

.project-info h3 {
  font-size: 22pt;
  margin-bottom: 1em;
}

.project-skills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content:flex-start;
  
}

.project-skills li {
  background-color: #E0EAF5;
  color: #0D2137;
  padding: 0.2em 1em 0.2em 1em;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16pt;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
  }
}

/* projects gallery */
.project-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.main-image img {
  width: 100%;
  border-radius: 10px;
  cursor: zoom-in;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
  max-height: 818px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.thumbnail-gallery {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.thumbnail-gallery img {
  width: 100px;
  height: auto;
  cursor: pointer;
  border-radius: 6px;
  opacity: 0.8;
  border: 2px solid transparent;
  transition: all 0.2s ease;
}

.thumbnail-gallery img:hover,
.thumbnail-gallery img.active {
  opacity: 1;
  border-color: #ff8e2b;
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
/* CONTACT PAGE */

.contact-section {
  padding: 4em 2em;
  background-color: #ffffff;
  color: #0D2137;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.contact-container h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 32pt;
  margin-bottom: 0.5em;
}

.contact-container p {
  font-size: 18pt;
  margin-bottom: 2em;
}

.contact-details {
  text-align: left;
  font-size: 16pt;
  margin-bottom: 2em;
}

.contact-details p {
  margin: 0.5em 0;
}

.contact-details a {
  color: #0D2137;
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}

.contact-form label {
  font-weight: 700;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
}

.contact-form button {
  width: fit-content;
  padding: 0.75em 1.5em;
  background-color: #ff8e2b;
  color: #0D2137;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #bc6214;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    padding: 0 1em;
  }

  .contact-details {
    font-size: 15pt;
  }

  .contact-container h1 {
    font-size: 26pt;
  }

  .contact-container p,
  .contact-form label,
  .contact-form input,
  .contact-form textarea {
    font-size: 16pt;
  }

  .contact-form button {
    font-size: 16pt;
  }
}